*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: white;
    --second-bg-color: black;
    --main-text-color: black;
    --second-text-color: white;
    --main-color: red;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--main-text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: var(--second-bg-color);
    color: var(--second-text-color);
    border-bottom: 1px solid white;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    
}

.logo{
    font-size: 4rem;
    color: var(--second-text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo span{
    color: var(--main-color);
}

.logo:hover{
    transform: scale(1.3);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--second-text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    
}

.navbar a:hover, .navbar a.active {
    color: var(--main-color);
        
    
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--second-text-color);
    display: none;
    cursor: pointer;
}

#menu-icon:hover{
    color: var(--main-color);
    
}

.red{
    color: var(--main-color) !important;
    
}

section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
    
}

.decal{
margin-top: 170px;
}


/* HOME*/

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.home-content{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}

.home-content h3{
    font-size: 3rem;
    font-weight: 700;
}

.home-content span{
    color: var(--main-color);
}

.profession{
    margin-bottom: 2rem;
    font-size: 4.8rem;
    
}

.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
}

.home-img img{
    border-radius: 50%;
    position: relative;
    top: 1rem;
    width: 16vw;
 
        
}


.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 3rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 0 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social a:hover{
    transform: scale(1.2);
    background-color: rgba(255, 0, 0, 0.200);

}

.btn-cv{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    color: var(--second-text-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    border: 2px solid transparent;

}

.btn-cv:hover{
   
    background: white;
    color: red;
    border: 2px solid red;
    
   
    
}

/* ABOUT*/

.about{
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;

}

.about p{
    
    color: var(--second-text-color);
    text-align: justify;
    margin-bottom: 50px;
}

.about span{
    
    color: red;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 50px;
    
}





/* COMPETENCES*/


.skills{
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    margin-top: 50px;
}

.linearskills{
    width: 45%;
}


.skills p{
    
    color: var(--main-text-color);
}

.skillicon{
    font-size: 4rem;
    
}


.progressline{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
    
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.progressline span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform-origin: left;
   
}

.radialskills {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  .progress {
    width: 250px;
    height: 250px;
    border-radius: 5mm;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  circle {
    fill: none;
  }
  svg {
    transform: rotate(-90deg);
  }
  .circle1 {
    stroke: rgba(25, 26, 49, 0.411);
    stroke-width: 10px;
  }
  .circle2 {
    
    stroke-dasharray: 628;
    stroke-dashoffset: calc(628 - (628 * 75) / 100);
    stroke-linecap: round;
    stroke-width: 10px;
    animation: progress 1s ease;
  }
  @keyframes progress {
    from {
      stroke-dashoffset: 628;
    }
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .text span {
    font-size: 16px;
    color: red;
  }

.valeur{
    position: absolute;
    width: 50px;
    height: 20px !important;
    right: 0;
    top: -20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
}

.titreskill{
    position: absolute;
    width: 100px;
    height: 20px !important;
    right: 0;
    top: -40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
}



/* PROJETS*/


.projets{
    background: var(--second-bg-color);
    text-align: center;
    font-size: 2rem;

}

.projets p{
    
    color: var(--second-text-color);
}

#projets-content {
    margin-top: 50px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 40px; 
}

.projet {
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    }

.projet:hover {
    border: 2px solid white;
}


.projet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.projet:hover img {
    transform: scale(1.2);
}

.projet-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), red);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: 0.3s ease;
    
}


.projet:hover .projet-layer {
    transform: translateY(0);
}

.projet-layer h1{
    font-size: 4rem;
    color: rgb(255, 255, 255);
    
}

.projet-layer p{
    
    font-weight: 600;
   
}

.projet-layer a{
    color: red;
    height: 4rem;
    width: 4rem;
    margin-top: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}


.projet-layer i{
    font-size: 2rem;
}





/* CONTACT*/


.contact{
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
}

.contact p{
    
    color: var(--main-text-color);
}


form {
    width: 800px;
    padding: 20px;
    margin-top: 20px;
    
    
}

label {
    color: red;
    font-weight: 600;
}

input[type="email"], input[type="text"], textarea {
    width: 100%;
    padding: 5px;
    margin: 10px 0 20px 0;
    font-size: 1.2rem;
    border: 2px solid red;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.05);
    
    
}

#contacter{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    
}

#contacter span{
    font-size: 30px;
    font-weight: 600;
    color: red;
}


#email {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#nom {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#prenom {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#sujet {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#message {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.button-container {
    text-align: center;
}

button{
    color: red;
    cursor: pointer;
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    color: var(--second-text-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    border: 2px solid transparent;
}

button:hover{
   
    background: white;
    color: red;
    border: 2px solid red;
    
   
    
}

/* FOOTER*/
#footer{
    background: var(--second-bg-color);
    color: var(--second-text-color);
    height: 50px;
    font-size: 1.7rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media(max-width:890px){

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: 0px;
        width: 100%;
        background: black;
        /*display: flex;*/
        flex-direction: column;
        align-items: center;
        display: none;
        
    }

    .navbar.show {
        display: flex;
    }

    .navbar a {
        margin-left: 0;
    }


}







